body{background: url(../images/bg_body.jpg); }

/************************ header *********************** */
#header{background: url(../images/bg_header.jpg) no-repeat;  height: 162px;}
#header a{ text-decoration: none; height: 36px;}

/************************ mainNav *********************** */
#mainNav{ margin-top: 80px; position: relative;}
a#logoheader{ background: url(../images/logo_header.png) no-repeat; height: 93px; margin-top: 20px;}
a#redneskifyMe{ background: url(../images/redneckifyMe_bg.png) no-repeat top right; }
a#gallery{ background: url(../images/gallery_bg.png) no-repeat top right; }
a#merch{ background: url(../images/merch_bg.png) no-repeat top right; }
a#aboutUs{ background: url(../images/aboutUs_bg.png) no-repeat top right; }

*html a#logoheader{ background: transparent ; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/logo_header.png', sizingMethod='crop');}
*html a#redneskifyMe{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/redneckifyMe_bg.png');}
*html a#gallery{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/gallery_bg.png', sizingMethod='image ');}
*html a#merch{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/merch_bg.png', sizingMethod='image');}
*html a#aboutUs{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/aboutUs_bg.png', sizingMethod='image');}

a#redneskifyMe:hover{ background: url(../images/redneckifyMe_bg_h.png) no-repeat top right; }
a#gallery:hover{ background: url(../images/gallery_bg_h.png) no-repeat top right; }
a#merch:hover{ background: url(../images/merch_bg_h.png) no-repeat top right; }
a#aboutUs:hover{ background: url(../images/aboutUs_bg_h.png) no-repeat top right; }

a#redneskifyMeActive{ background: url(../images/redneckifyMe_bg_h.png) no-repeat top right; }
a#galleryActive{ background: url(../images/gallery_bg_h.png) no-repeat top right; }
a#merchActive{ background: url(../images/merch_bg_h.png) no-repeat top right; }
a#aboutUsActive{ background: url(../images/aboutUs_bg_h.png) no-repeat top right; }

*html a#redneskifyMe:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/redneckifyMe_bg_h.png');}
*html a#gallery:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/gallery_bg_h.png', sizingMethod='image ');}
*html a#merch:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/merch_bg_h.png', sizingMethod='image');}
*html a#aboutUs:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/aboutUs_bg_h.png', sizingMethod='image');}

*html a#redneskifyMeActive{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/redneckifyMe_bg_h.png');}
*html a#galleryActive{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/gallery_bg_h.png', sizingMethod='image ');}
*html a#merchActive{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/merch_bg_h.png', sizingMethod='image');}
*html a#aboutUsActive{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/aboutUs_bg_h.png', sizingMethod='image');}

/************************ midNav *********************** */
#midNav{background: #371d00; height: 80px;}
#midNav a {height: 80px;}
a#subh1{background: url(../images/subh1.jpg) no-repeat bottom right;}
a#subh2{background: url(../images/subh2.jpg) no-repeat bottom right;}
a#subh3{background: url(../images/subh3.jpg) no-repeat bottom right;}
a#subh1:hover{background: url(../images/subh1_hover.jpg) no-repeat bottom right;}
a#subh2:hover{background: url(../images/subh2_hover.jpg) no-repeat bottom right;}
a#subh3:hover{background: url(../images/subh3_hover.jpg) no-repeat bottom right;}
a#subh1Active{background: url(../images/subh1_hover.jpg) no-repeat bottom right;}
a#subh2Active{background: url(../images/subh2_hover.jpg) no-repeat bottom right;}
a#subh3Active{background: url(../images/subh3_hover.jpg) no-repeat bottom right;}

/************************ content *********************** */
div#content{background: #f9e4ca; min-height: 624px;  padding: 20px 0;  font-size: 14px; }
div#content a{ margin: 0; font-weight: bold; text-decoration: none; color: #07748b;  }
div#content a:hover{ color: #371d00; }

/************************ leftcontent *********************** */
div#leftContent{ border-right: 1px dashed #aa9073;}
div#pickYrR{ height: 54px; background: url(../images/pickYrR_bg.jpg) no-repeat; }
a.sex{ font-size: 16px;}
div.pics img{ border: 5px solid #f9e4ca;}
div.pics a img:hover{ border: 5px solid #371d00;}


/************************ footer *********************** */
#footer{ height: 118px;  padding: 20px 0 0 10px; color: #fff;}
a#logofooter{ background: url(../images/logo_footer.png) no-repeat; height: 48px; }
*html a#logofooter{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/logo_footer.png', sizingMethod='image');}
#footer a{ color: #fff; text-decoration: none;}
#footer ul a:hover{ text-decoration: underline;}
#footer ul{ list-style-type: none;}


.blue{color:#07748b; font-weight: bold;}
span.hidden{ visibility: hidden; }


/************************ home *********************** */
div#latestR{ height: 51px; background: url(../images/latestR_bg.jpg) no-repeat; margin-bottom: 10px; }
div.rate{ width: 240px; background: #E0C6A7; display: block; margin-bottom: 25px; margin-right: 20px; padding: 5px;}

div.rate p{ color: #371d00; font-size: 12px;}
div.rate img {float: left; margin-right: 20px;}
div#yepBubba{ height: 113px; width: 323px; margin-top: 20px; background: url(../images/yepBubba.jpg) no-repeat; }
input#goOnbtn{ border: none; display: block; height: 90px; width: 398px; background: url(../images/goOnbtn.jpg) no-repeat; margin: 20px 0 20px 60px !important;}
input:hover#goOnbtn{ background: url(../images/goOnbtn-over.jpg) no-repeat;}

button#facebook{ border: 2px solid #00549E; height: 42px; width: 107px; background: url(../images/btn_facebook.png) no-repeat; margin: 5px 0px 5px 10px;}
button:hover#facebook { border: 2px solid #FFFFFF; }

ul.rating { list-style-type: none; margin: 0; padding: 0;}
ul.rating li{ float: left; margin: 0 1px;}

ul.rating li a{ display: block; height: 18px; width: 19px; text-decoration: none; background: url(../images/rate.jpg); background-repeat: no-repeat; background-position:right; }
ul.rating li a.red{  background: url(../images/rate.jpg); background-repeat: no-repeat; background-position:left; }
ul.rating li a:hover{  background: url(../images/rate.jpg); background-repeat: no-repeat; background-position: left; }

*html span.hidden{font-size: 1px;}


/************************ step3 *********************** */
ul#icons { list-style-type: none; padding: 0; }
ul#icons li{ float: left; margin: 0 20px 20px 0; }
ul#icons a{ display: block; height: 48px; width: 48px;}
a#fb{ background: url(../images/bg_fb.jpg); }
a#tw{ background: url(../images/bg_tw.jpg); }
a#gt{ background: url(../images/bg_g.jpg); }
a#ym{ background: url(../images/bg_ym.jpg); }
div#sl1{ display: block; height: 19px; width: 435px; margin-bottom: 20px;}
span#sl1-brown { font-size: 1.1em; font-weight: bold; color: #333300;}
span#sl1-blue  { font-size: 1.0em; font-weight: bold; color: #006F86;}
#get img{ background: url(../images/bg_img.jpg) no-repeat; padding: 5px;}
#get p{ width: 140px; float:left; text-align: center; }
input.savebtn{ display: block; background: url(../images/savebtn.jpg) no-repeat; width: 391; height: 64px;}
input:hover#savebtn{ background: url(../images/savebtn-over.jpg) no-repeat; width: 391; height: 64px;}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; }
#selectable li { margin: 3px; padding: 1px; float: left; width: 140px; height: 140px; font-size: 4em; text-align: center; }

#facebook-photos { display: inline; margin-bottom: 20px;}

.zazzle-product { border: 1px solid #BBBBBB; position:relative; padding: 6px; margin-bottom: 20px; text-align: center; }
#zazzle { padding-top: 20px}
#file-input { margin-top: 11px}
#prev-btn { width: 133px; height: 36px; border: none; background: url(../images/btn_previouspage.png) }
#next-btn { width: 133px; height: 36px; border: none; background: url(../images/btn_nextpage.png) }
#select-btn { width: 133px; height: 36px; border: none; background: url(../images/btn_selectalbum.png) }

.social-btn { }
.fb-like-btn { width: 90px;height: 20px; }
.tweet-btn { }

.image400 {position:relative;margin-bottom:45px;}
.wframe {position:absolute;left:-35px;top:-36px;background-image:url(../images/wframe.png);width:470px;height:406px;overflow:hidden;z-index:2;}
.margin-top-10 { margin-top: 10px; }