<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
  <title>Redneckify-home</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="ie.css" type="text/css" media="screen, projection"><![endif]-->


</head>

<body>
    <div class="container">
      <div id="header" class="span-23 prepend-1">
        <a href="#" class="span-7" id="logoheader"><span class="hidden">Redneckify</span></a>

        <div id="mainNav">
          <a href="#" class="span-5" id="redneskifyMe"><span class="hidden">Redneckify Me</span></a>
          <a href="#" class="span-3" id="gallery"><span class="hidden">Redneckify Me</span></a>
          <a href="#" class="span-3" id="merch"><span class="hidden">Redneckify Me</span></a>
          <a href="#" class="span-4 last" id="aboutUs"><span class="hidden">Redneckify Me</span></a>
        </div>

      </div>

      <div id="midNav" class="span-24">
        <a href="#" class="span-10" id="subh1"></a>
        <a href="#" class="span-7" id="subh2"></a>
        <a href="#" class="span-6" id="subh3"></a>
      </div>

      <div id="content" class="span-24">
        <div class="span-7 prepend-1" id="leftContent">
          <div class="span-7 pull-1" id="latestR"><span class="hidden">Latest Redneck</span></div>
            <div class="rate clear">
                <img src="images/img1.jpg" />
                <p><strong>"Redneck Jim"</strong><br />by Jim Johnson</p>
                <ul class="rating">
                  <li><a class="red" class="red" href="#"><span class="hidden">Rate 1</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 2</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 3</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 4</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 5</span></a></li>
                </ul>
            </div>
            <div class="rate">
                <img src="images/img2.jpg" />
                <p><strong>"Redneck Jim"</strong><br />by Jim Johnson</p>
                                <ul class="rating">
                  <li><a class="red" class="red" href="#"><span class="hidden">Rate 1</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 2</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 3</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 4</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 5</span></a></li>
                </ul>
            </div>
            <div class="rate">
                <img src="images/img3.jpg" />
                <p><strong>"Redneck Jim"</strong><br />by Jim Johnson</p>
                <ul class="rating">
                  <li><a class="red" class="red" href="#"><span class="hidden">Rate 1</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 2</span></a></li>
                  <li><a class="red" href="#"><span class="hidden">Rate 3</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 4</span></a></li>
                  <li><a href="#"><span class="hidden">Rate 5</span></a></li>
                </ul>
            </div>


          <p><a href="#"class="blue" >See all them there rednecks</a></p>
          </div>

        <div class="span-14  prepend-1 last" id="rightContent">
          <p>Already been redneckkified? Need to git at yer pic?<a href="#" class="blue"> Sign on in right here, Billy Bob</a></p>
          <p class="bigP">To git started redneckifyin' yer picture, upload it to the site by pushin the big button down yonder.</p>
          <div id="yepBubba"><span class="hidden">Yep, that one, Bubba!</span></div>
          <a href="#" id="goOnbtn"><span class="hidden">Go on, git yer face on in there!</span></a>
          <p>If y'all got a <strong>Flickr</strong> account, you can <a href="#" class="blue">grab one of yer pictures from there</a>.</p>

        </div>

      </div>
      <div class="clear"></div>

      <div id="footer">
        <a href="#" class="span-4" id="logofooter"><span class="hidden">Redneckify</span></a>
        <ul class="span-3">
            <li><a href="#">Redneckify Me</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Merch</a></li>
            <li><a href="#">About us</a></li>
        </ul>
        <ul class="span-3">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">MySpace</a></li>
        </ul>
        <ul class="span-3">
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
        </ul>
        <ul class="span-6">
            <li>Copyright © 2010 BustedHumps Inc.</li>
            <li>All Right Reserved.</li>
        </ul>
      </div>

    </div>

</body>
</html>








