body{background: url(images/bg_body.jpg); }


/************************ header *********************** */
#header{background: url(images/bg_header.jpg) no-repeat;  height: 149px;}
#header a{ text-decoration: none; height: 36px;}

/************************ mainNav *********************** */
#mainNav{ margin-top: 80px; position: relative;}
a#logoheader{ background: url(images/logo_header.png) no-repeat; height: 93px; margin-top: 20px;}
a#redneskifyMe{ background: url(images/redneckifyMe_bg.png) no-repeat top right; }
a#gallery{ background: url(images/gallery_bg.png) no-repeat top right; }
a#merch{ background: url(images/merch_bg.png) no-repeat top right; }
a#aboutUs{ background: url(images/aboutUs_bg.png) no-repeat top right; }

*html a#logoheader{ background: transparent ; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/logo_header.png', sizingMethod='crop');}
*html a#redneskifyMe{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/redneckifyMe_bg.png');}
*html a#gallery{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/gallery_bg.png', sizingMethod='image ');}
*html a#merch{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/merch_bg.png', sizingMethod='image');}
*html a#aboutUs{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/aboutUs_bg.png', sizingMethod='image');}

a#redneskifyMe:hover{ background: url(images/redneckifyMe_bg_h.png) no-repeat top right; }
a#gallery:hover{ background: url(images/gallery_bg_h.png) no-repeat top right; }
a#merch:hover{ background: url(images/merch_bg_h.png) no-repeat top right; }
a#aboutUs:hover{ background: url(images/aboutUs_bg_h.png) no-repeat top right; }

*html a#redneskifyMe:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/redneckifyMe_bg_h.png');}
*html a#gallery:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/gallery_bg_h.png', sizingMethod='image ');}
*html a#merch:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/merch_bg_h.png', sizingMethod='image');}
*html a#aboutUs:hover{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/aboutUs_bg_h.png', sizingMethod='image');}

/************************ midNav *********************** */
#midNav{background: #371d00; height: 94px;}
#midNav a {height: 94px;}
a#subh1{background: url(images/subh1.jpg);}
a#subh2{background: url(images/subh2.jpg);}
a#subh3{background: url(images/subh3.jpg);}
a#subh1:hover{background: url(images/subh1_hover.jpg);}
a#subh2:hover{background: url(images/subh2_hover.jpg);}
a#subh3:hover{background: url(images/subh3_hover.jpg);}

/************************ content *********************** */
div#content{background: #f9e4ca; min-height: 624px;  padding: 20px 0;  font-size: 14px; }
div#content a{ margin: 0; font-weight: bold; text-decoration: none; color: #07748b;  }
div#content a:hover{ color: #371d00; }

/************************ leftcontent *********************** */
div#leftContent{ border-right: 1px dashed #aa9073;}
div#pickYrR{ height: 54px; background: url(images/pickYrR_bg.jpg) no-repeat; }
a.sex{ font-size: 16px;}
div.pics img{ border: 5px solid #f9e4ca;}
div.pics a img:hover{ border: 5px solid #371d00;}


/************************ footer *********************** */
#footer{ height: 118px;  padding: 20px 0 0 10px; color: #fff;}
a#logofooter{ background: url(images/logo_footer.png) no-repeat; height: 48px; }
*html a#logofooter{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/logo_footer.png', sizingMethod='image');}
#footer a{ color: #fff; text-decoration: none;}
#footer ul a:hover{ text-decoration: underline;}
#footer ul{ list-style-type: none;}


.blue{color:#07748b; font-weight: bold;}
span.hidden{ visibility: hidden; }


/************************ home *********************** */
div#latestR{ height: 51px; background: url(images/latestR_bg.jpg) no-repeat; margin-bottom: 10px; }
div.rate{ width: 240px; height: 100px; background: #E0C6A7; display: block; margin: 10px 0 10px -20px; padding: 5px;  }

div.rate p{ color: #371d00; font-size: 12px;}
div.rate img {float: left; margin-right: 20px;}
div#yepBubba{ height: 113px; width: 323px; background: url(images/yepBubba.jpg) no-repeat; }
a#goOnbtn{ display: block; height: 90px; width: 398px; background: url(images/goOnbtn.jpg) no-repeat; margin: 20px 0 20px 60px !important;}
a:hover#goOnbtn{ background: url(images/goOnbtn-over.jpg) no-repeat;}

ul.rating { list-style-type: none; margin: 0; padding: 0;}
ul.rating li{ float: left; margin: 0 1px;}

ul.rating li a{ display: block; height: 18px; width: 19px; text-decoration: none; background: url(images/rate.jpg); background-repeat: no-repeat; background-position:right; }
ul.rating li a.red{  background: url(images/rate.jpg); background-repeat: no-repeat; background-position:left; }
ul.rating li a:hover{  background: url(images/rate.jpg); background-repeat: no-repeat; background-position: left; }

*html span.hidden{font-size: 1px;}


/************************ step3 *********************** */
ul#icons { list-style-type: none; padding: 0; }
ul#icons li{ float: left; margin: 0 20px 20px 0; }
ul#icons a{ display: block; height: 48px; width: 48px;}
a#fb{ background: url(images/bg_fb.jpg); }
a#tw{ background: url(images/bg_tw.jpg); }
a#gt{ background: url(images/bg_g.jpg); }
a#ym{ background: url(images/bg_ym.jpg); }
div#sl1{ background: url(images/sl1.jpg) no-repeat; display: block; height: 19px; width: 435px; margin-bottom: 20px;}
#get img{ background: url(images/bg_img.jpg) no-repeat; padding: 5px;}
#get p{ width: 140px; float:left; text-align: center; }
a.savebtn{ background: url(images/savebtn.jpg) no-repeat; height: 64px;}
a:hover.savebtn{ background: url(images/savebtn-over.jpg) no-repeat; height: 64px;}





