<plugin name='facebook-connect' version='0.1'>
  <author>Ahmet Taha Sakar</author>
  <authorEmail>ahmet@200iq.com</authorEmail>
  <title>Facebook Connect</title>
  <description>Provides simple authentication using Facebook Connect</description>
  <documentation>http://grails.org/FacebookConnect+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>FacebookConnectService</resource>
    <resource>FacebookTagLib</resource>
  </resources>
</plugin>